.container {
	@apply flex h-[100vh] w-full;
	overflow: auto;

	& > * {
		flex: 0 1 50%;
	}

	@media (max-width: theme('screens.md')) {
		@apply flex flex-col-reverse;

		& > * {
			flex: 1 1 auto;
		}
	}
}

.fact-container {
	@apply relative flex flex-col items-start justify-center gap-6 p-24;

	& > h1 {
		// set max with to break after 2 numbers
		max-width: 2ch;
		word-break: break-all;

		@apply font-serif text-[6rem] font-extrabold capitalize leading-none;
	}

	& > h2 {
		@apply font-serif text-4xl font-bold;
	}

	& > p {
		@apply max-w-[50%] font-serif text-2xl font-bold;
	}
}

.icon {
	@apply absolute right-24 w-20 cursor-pointer fill-slate-600 stroke-slate-600 transition-all duration-200 ease-in-out;

	&.on-top {
		@apply top-24;
	}

	&.on-bottom {
		@apply bottom-24;
	}

	&:hover {
		@apply fill-slate-800 stroke-slate-800;
	}
}

.timeline-container {
	@apply relative flex flex-col items-center justify-center gap-4 p-24 text-white;
}

.years-container {
	@apply my-12 flex flex-wrap items-center justify-center gap-4 rounded-lg bg-white bg-opacity-40 px-4 py-4 shadow;

	@media (min-width: theme('screens.md')) {
		@apply absolute bottom-24 left-24 right-24;
	}
}

.year-btn {
	@apply rounded bg-transparent px-4 py-2 font-medium text-gray-600 transition-all duration-200 ease-in-out;

	&:hover,
	&.current {
		// Color and Background
		@apply bg-teal-500 text-white;
	}
}
